{% extends "base/base.html" %}

{% block content %}
{% load static %}
  <h2>Add Meal</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} {{ formset.management_form }}
    <div id="formset-area">
      {% for f in formset.forms %}
        <div>
            {{ f.food }} 
            {{ f.quantity }}
        </div>
      {% endfor %}
    </div> {% endcomment %}

    <button type="submit">Save Meal</button>
  </form>
  <h3>Foods</h3>

    <form class="searchbar" method="post">
      {% csrf_token %}
      {{ search_form }}
      <button type="submit" name="srch_btn">Search</button>
    </form>

  <ul>
  {% for food in all_foods %}
    <li>
      {{ food.name }}
      <form method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" name="add_food" value="{{ food.id }}">Add</button>
      </form>
    </li>
  {% empty %}
    <li>No foods found.</li>
  {% endfor %}
  </ul>


<ul>
{% for food in added_foods %}
    <li>
        {{ food.name }}
    </li>
{% empty %}
    <li>No foods selected yet.</li>
{% endfor %}
</ul>
{% endblock %}
