<header>
    <nav class="navbar">
            {% if request.user.is_authenticated %}
            <div class="logo">
                <a href="{% url 'dashboard' %}">
                    <i>Right Portion</i>
                </a>
            </div>

            <div class="nav-links">
                <ul>

                    <li>
                        <a href="{% url 'add meal' %}">
                            <i>Add Meal</i>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'add food' %}">
                            <i>Add Food</i>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'history'%}">
                            <i>History</i>
                        </a>
                    </li>

                    <li>
                        <a href="{% url 'profile details' request.user.pk %}">
                            <i>Profile</i>
                        </a>
                    </li>
                </ul>
            </div>

        {% else %}

        <div class="logo">
            <a class="home" href="{% url 'index' %}">
                <i>Right Portion</i>
            </a>
        </div>

        <div class="nav-links">
            <ul>
                
                <li>
                    <a href="{% url 'login user' %}">
                        <i>Login</i>
                    </a>
                </li>

                <li>
                    <a href="{% url 'register user' %}">
                        <i>Register</i>
                    </a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>
</header>