{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<main>

    <div class="profilee">

        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    {% comment %} {% if rpuser.profile_picture %}
                        <img src="{{ rpuser.profile_picture }}" alt="img8">
                    {% else %}
                        <img src="{% static 'images/user.png' %}" alt="img8">
                    {% endif %} {% endcomment %}
                </div>
            </div>
            <div class="personal">
                <div class="eedit">
                    <p>{{ rpuser.username }}</p>

                    {% if request.user.email == rpuser.email %}
                        <a href="{% url 'profile edit' rpuser.pk %}">Edit Profile</a>

                        <a href="{% url 'profile delete' rpuser.pk %}">Delete Profile</a>

                        <form action="{% url 'logout user' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Logout</button>
                        </form>
                    {% endif %}

                </div>
                <div class="data">
                    <p>Total Meals: <strong>{{ meals.count }}</strong></p>
                    <p class="email">{{ rpuser.email }}</p>
                </div>
            </div>
        </div>


        <div class="pet-photos">
            {% if page_obj.object_list %}
                {% for meal in page_obj.object_list %}
                    {{ meal.name }}
                    <p></p>
            {% endfor %}
            {% else %}
                <h2>No Meals!</h2>
            {% endif %}

            <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1"><strong>&laquo;1</strong></a>
                            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">>>></a>
                            <a href="?page={{ page_obj.paginator.num_pages }}"><strong>{{ page_obj.paginator.num_pages }}&raquo;</strong></a>
                        {% endif %}
                    </span>
            </div>
        </div>

    </div>

</main>
{% endblock %}