{% extends "base/base.html" %}

{% block content %}
{% load static %}
  <h2>Add Meal</h2>

  <form method="post">
    {% csrf_token %}
    {{ meal_form.as_p }}

    <h3>Foods</h3>
    {{ formset.management_form }}
    {% for form in formset %}
      <div class="food-form">
        {{ form.as_p }}
      </div>
    {% endfor %}

    <button type="submit">Save Meal</button>
  </form>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.3/jquery.formset.min.js"></script>

  <script>
  $(document).ready(function() {
    $('#formset-area .meal-food-form').formset({
      addText: 'Add another food',
      deleteText: 'Remove',
      prefix: '{{ formset.prefix }}'
    });
  });
</script>
{% endblock %}
