{% extends 'base/base.html' %}
{% block content %}
<main>
    <div class="edit-deletee edit-photo">
        <h2>Delete recipe</h2>
        <form action="{% url 'recipe delete' recipe_name %}" method="post">
            {% csrf_token %}
            <div class="imgBx" id="{{ recipe.id }}" style="position: relative; left: 60px">
                <img src="{{ recipe.photo.url }}" alt="post" class="coverr">
            </div>
            {{ form.as_p }}

            <button class="delete-btn" type="submit">Delete</button>

            <a class="btn btn-primary" href="javascript:history.back()">
                <button class="edit-btn" type="button">Go back</button>
            </a>
        </form>
    </div>
</main>
{% endblock %}