/* #C1B098 khaki beige - beige
#E9D2F4 thistle - pink
#9B9B93 grey olive - olive
#39393A graphite - dark grey
#63B0CD pacific blue - blue
#eee2d0*/

/* &family=Jost:ital,wght@0,100..900;1,100..900&display=swap */

@import url("https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap");

html {
    background-color: #9B9B93;
    /* font-family: "Jost", sans-serif; */
    font-family: "Special Gothic", sans-serif;
}

main {
    margin-top: 1em;
}

.navbar {
    /* position: fixed;
    z-index: 100000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C1B098;
    width: 100%;
    border-radius: 0.4em;
}

.logo {
    margin-left: 3em;
}

.navbar a {
    text-decoration: none;
    color: #39393A;
    font-size: 20px;
    letter-spacing: 0.07em;
    font-weight: 500;
}

.navbar a i {
    font-style: normal;
}

.nav-links {
    margin-right: 2em;
}

.nav-links ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0em;
    gap: 1em;
}

.nav-links ul li {
    margin-inline: 1em;
}

.footer {
    text-align: center;
    font-size: 0.72em;
}