.add-meal-h2 {
    background-color: #FAF9F6;
    margin: 0;
    padding: 28px;
}

.add-meal {
    border: 2px solid #FAF9F6;
    width: 40%;
    justify-self: center;
    margin-top: 5em;
}

#main-form {
    background-color: #FAF9F6;
    font-size: 18px;
    padding: 28px;
}

#main-form #id_name {
    font-family: "Special Gothic", sans-serif;
    font-size: 18px;
}

#main-form p {
    margin: 0;
}